.header {
  width: 900px !important;
  text-align: center;
  h2 {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Fira Code';
    text-transform: capitalize;
    padding: 30px;
    text-align: center;
    line-height: 30px;
  }
}